:root {
    color: var(--color3);
}

figcaption, a { 
    color: var(--color2);
    font-family: var(--myFont);
  }

nav h1 { 
    color: var(--color3);
    font-family: var(--titleFont);
  }

body{
    /* padding-top: 0px; */
    overflow-y: hidden;
}

.grid-page{
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: 170px 1fr;
    grid-template-rows: 65px 1fr 50px;
    background-color: var(--color5);
    grid-template-areas:
      'nav nav nav nav nav nav'
      'aside main main main main main'
      'footer footer footer footer footer footer';
    height: 100vh;
}

a:hover
{
    /* font-size: large; */
    /* border: solid green; */
    color: red;
}

nav {
    /* display: grid; */
    text-align: center;
    justify-content: center;
    display: flex;
    grid-area: nav;
    background-color: var(--color4);
    font-size: large;
}

aside {
    display: flex;
    flex-direction: column;
    grid-area: aside;
    background-color:var(--color4);    
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
    grid-area: footer;
    background-color:var(--color4);
}

footer p {
    margin: 0;  /* Remove default margin */
    height: 30px;
}

.ListItem, .LastItem {
    text-decoration: none;
    margin-left: 1em;
    font-size: x-large;
    margin-top: 0px;
}

.ListItem {
    margin-top: 10px;
}

@media screen and (max-width: 700px){

    .grid-page{
        display: grid;
        grid-template-rows: 65px 65px 1fr 40px;
        grid-template-areas:
          'nav nav nav nav nav nav'
          'aside aside aside aside aside aside'
          'main main main main main main'
          'footer footer footer footer footer footer';
        height: 100vh;
    }

    aside {
        flex-direction: row;
        justify-content: center;
    }
    
    .ListItem {
        margin-bottom: unset;
        margin-right: 1rem;
    }
    
    .LastItem {
        margin-top: unset;
        margin-left: auto;
    }
}