main {
    display: flex;
    grid-row-gap: 0px;
    overflow-y: scroll;
    grid-area: main;
    background-color:var(--color5);
    flex-flow: row wrap;
}

.tableFluid {
  padding: 30px;
}

.theadFluid .trFluid {
  background-color: #FFEEDB;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.trFluid {
  padding: 5px;
}

.trFluid:nth-child(even) {
  background-color: lightgray;
}

/* Main container: initialize the flex, direction is row */
.trFluid {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  width: 100%;
}

/* Wrappers around cells and other wrappers: flex, row, wrap */
.trFluid_Grouping2, 
.trFluid_Grouping1
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.trFluid_Grouping2.num, 
.trFluid_Grouping1.num {
  flex-grow: 0;
}

/* Text based cells: grow, truncate and show ellipsis when there is not enough space */
.tdFluent {
  flex-grow: 1; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: var(--cell-width);
}

.tdFluent.num {
  width: var(--cell-width);
  text-align: right;
}

    
  @media (max-width: 600px) {
    .ListItem {
		margin:unset;
		margin-right: 1rem;		/* changed to move the last item to the far right */
		width: 45px;
	}
  }


    /* DEBUG STUFF */
    
  /* .trFluid_Grouping1 {
    border: 1px solid green;
    padding: 2px;
    margin: 2px;
  }
  .trFluid_Grouping2 {
    border: 1px solid red;
    margin: 2px;
  }
  .trFluid:not(.header){
    border: 1px solid blue;
    margin: 2px;
  } */