
main {
    display: flex;
    overflow-y: scroll;
    grid-area: main;
    background-color:var(--color5);
    justify-content: center;
}

.theadFluid .tdFluent{
  color: var(--color2);
  font-family: var(--titleFont);
  font-size: xx-large;
}

.modal {
  background-color: var(--color5);
  border: 2px solid var(--color3);
  border-radius: 5px;
  color: white;
  }

.tableFluid {
  width: 100%;
  padding: 30px;
}

.theadFluid .trFluid {
  background-color: var(--color5);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background: radial-gradient(circle at center, red 0, rgb(107, 40, 40), rgb(0, 0, 0) 100%)
}

.trFluid:nth-child(even) {
  background-color: rgb(54, 54, 54);
}

.trFluid {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
}

.trFluid_Grouping2, 
.trFluid_Grouping1
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
}

.tdFluent {
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: var(--cell-width);
  color: var(--color3);
  font-family: var(--myFont);
}

.musicTableForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  max-width: 800px;
  height: 600px;
  border: 2px solid var(--color3);
  padding: 20px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  margin-top: 20px;
}

button {
  background-color: var(--color5);
  color: var(--color3);
  border: 2px solid var(--color3);
  border-radius: 5px;
  padding: 7x 12px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--color3);
  color: var(--color5);
}

button:active {
  background-color: darkred;
  border-color: var(--color5);
}

#btnSearch, #btnPrev, #btnNext {
  margin: 5px;
}
    
  @media (max-width: 800px) {

    .tableFluid {
      flex-direction: row; /* Change flex-direction to column */
    }
  
    .trFluid_Grouping2, 
    .trFluid_Grouping1 {
      flex-direction: column /* Ensure items within groups are still in a row */
    }

    .musicTableForm {
      height: 850px;
    }
  }

  @media (min-width: 1000px) {
    .tdFluent { 
      font-size: large;
    }
  }


    /* DEBUG STUFF */
    
  /* .trFluid_Grouping1 {
    border: 1px solid green;
    padding: 2px;
    margin: 2px;
  }
  .trFluid_Grouping2 {
    border: 1px solid red;
    margin: 2px;
  }
  .trFluid:not(.header){
    border: 1px solid blue;
    margin: 2px;
  } */