body {
  position: relative;
}

main {
    display: flex;
    overflow-y: scroll;
    grid-area: main;
    background-color:var(--color5);
}

.theadFluid .tdFluent{
  color: var(--color2);
  font-family: var(--titleFont);
  font-size: xx-large;
}

.modal {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 5px;
  color: white;
  }

.tableFluid {
  width: 100%;
  padding: 30px;
}

.theadFluid .trFluid {
  background-color: #000000;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background: radial-gradient(circle at center, red 0, rgb(107, 40, 40), rgb(0, 0, 0) 100%)
}

.trFluid:nth-child(even) {
  background-color: rgb(54, 54, 54);
}

.trFluid {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
}


.trFluid_Grouping2, 
.trFluid_Grouping1
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
}

.tdFluent {
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: var(--cell-width);
  color: var(--color3);
  font-family: var(--myFont);
}

.musicTableForm { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid red;
  padding: 20px; 
  text-align: center;
}

button {
  background-color: black; /* Black background */
  color: red; /* Red text */
  border: 2px solid red; /* Red border */
  border-radius: 5px; /* Rounded corners */
  padding: 7x 12px; /* Padding */
  font-size: 10px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

/* Hover Effects */
button:hover {
  background-color: red; /* Red background on hover */
  color: black; /* Black text on hover */
}

/* Active State */
button:active {
  background-color: darkred; /* Darker red background on click */
  border-color: black; /* Black border on click */
}


/* Specific Button Styles */
#btnSearch, #btnPrev, #btnNext {
  margin: 5px; /* Margin between buttons */
}
    
  @media (max-width: 800px) {
    .ListItem {
		margin:unset;
		margin-right: 1rem;
		width: 45px;
	}

    .tableFluid {
      flex-direction: row; /* Change flex-direction to column */
    }
  
    .trFluid_Grouping2, 
    .trFluid_Grouping1 {
      flex-direction: column /* Ensure items within groups are still in a row */
    }
  }

  @media (min-width: 1000px) {
    .tdFluent { 
      font-size: large;
    }
  }


    /* DEBUG STUFF */
    
  /* .trFluid_Grouping1 {
    border: 1px solid green;
    padding: 2px;
    margin: 2px;
  }
  .trFluid_Grouping2 {
    border: 1px solid red;
    margin: 2px;
  }
  .trFluid:not(.header){
    border: 1px solid blue;
    margin: 2px;
  } */